title {
	color: darkslateblue;
	text-align: left;
	font-size: 105px;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    font-family: 'Comic Sans MS', 'Comic Papyrus', sans-serif;
    color: #000000;
    background-color: rgb(255, 255, 255);
    margin-left: 75px;
    margin-right: 75px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: blueviolet;
    border-right-style: dotted;
    border-right-width: 20px;
    border-right-color: brown;
    border-bottom-style: dotted;
    border-bottom-width: 15px;
    border-bottom-color: aqua;
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: darkgreen;
}

h1 {
	font-family: 'Papyrus', fantasy;
    font-size: 50px;
	text-align: center;
	line-height: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
    color: cadetblue;
}

h2 {
    font-family: 'Papyrus', fantasy;
    font-size: 40px;
	text-align: center;
	line-height: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
    text-align: left; 
    color:deeppink 
}

h3 {
    font-family: 'Papyrus', fantasy;
    font-size: 30px;
	text-align: right;
	line-height: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
    color: chocolate;
}

h4 {
    font-family: 'Papyrus', fantasy;
    font-size: 20px;
	text-align: left;
	line-height: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
    color: rgb(17, 198, 147);
}

li {
    font-family: 'Comic Papyrus';
    text-align: center;
    font-size: 25px;
}

div {
    text-align: right;
}
