p {
    font-size: 14px;
    color: rgb(29, 235, 94);
    text-align: center;
}

img {
    text-align: center;
	height: 350px;
	width: 225px;
}

header, footer {
    margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main {
	margin-left: 150px;
	margin-right: 150px;
}

h1, h2, h3 {
	font-family: 'Gill Sans', Calibri, Georgia, serif;
	text-align: center;
	line-height: 0px;
}

a {
	text-decoration: none;
	color: rgb(56, 235, 128);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: mediumseagreen;
} 

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c93a3a;
    background-color: rgb(8, 89, 41);
    margin-left: 75px;
    margin-right: 75px;
}

nav {
	text-align: center;
}
