<footer>
    <nav>
      <a href="https://webpages.charlotte.edu/ooshin/" target="_blank">UNCC homepage</a>
      ║ 
      <a href="https://github.com/Femi0834" target="_blank">Github</a>
      ║ 
      <a href="https://Femi0834.github.io/" target="_blank">Github.io</a>
      ║ 
      <a href="https://www.freecodecamp.org/Femi_Oshin" target="_blank">freecodecamp</a>
      ║ 
      <a href="https://www.codecademy.com/profiles/Femi_Oshin" target="_blank">Codecademy</a>
      ║ 
      <a href="https://www.linkedin.com/in/obafemi-oshin-476668207/" target="_blank">LinkedIn</a>
    </nav>
    <br>
    Page built by 
    <a href="brand.html">Oshin Operations</a>
    <p>
      <a href="https://validator.w3.org/check?uri=referer">
        <img class="img2" src="images/button_validation_html5.png" alt="Link to HTML validator">
      </a>
      <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img class="img2" src="images/button_validation_css.png" alt="Link to CSS validator">
      </a>
    </p>
  </footer>