<header>
    <h1>Femi Oshin ITIS 3135</h1>
    <nav>
      <a href="index.html">Home</a>
       || 
      <a href="introduction.html">Introduction</a>
       || 
      <a href="contract.html">Contract</a>
       || 
      <a href="tables.html">Table Sample</a>
       || 
      <a href="forms.html">Forms Sample</a>
       || 
      <a href="brand.html">Brand</a>
       || 
      <a href="website_evalautions.html">Bad Design Evaluation</a>
       ||
      <a href="CR@PPY website.htm">CR@pPy</a>
       ||
      <a href="firstscripts.html">First Scripts</a>
       ||
      <a href="polygons.html">Polygons</a>
       ||
      <a href="calculator_try.html">Calculator Part I</a>
       ||
      <a href="calculator_fcc.html">Calculator Part II</a>
       ||
      <a href="arrays.html">Arrays</a>
       ||
      <a href="accessibility/oshin-activity_accessibility.html">Accessibility</a>
       ||
      <a href="slideshow.html">Slideshow</a>
       ||
      <a href="hobby/hobby.html">Hobby(Midterm)</a>
       ||
      <a href="Activity10/activity10.html">Activity 10</a>
       ||
      <a href="Activity11/Activity11.html">Activity 11</a>
       ||
      <a href="Activity12/Activity12.html">Activity 12</a>
       ||
      <a href="Activity13/Activity13.html">Activity 13</a>
       ||
      <a href="Activity14/Activity14.html">Activity 14</a>
       ||
      <a href="Activity15/Activity15.html">Activity 15</a>
       ||
      <a href="cilent_index.html">Project</a>
       ||
      <a href="ITSC-3155_web/index.html">Other Website</a>
    </nav>
  </header> 