<header>
    <h1>Femi Oshin ITIS 3135</h1>
    <nav>
      <a href="index.html">Home</a>
       || 
      <a href="introduction.html">Introduction</a>
       || 
      <a href="contract.html">Contract</a>
       || 
      <a href="tables.html">Table Sample</a>
       || 
      <a href="forms.html">Forms Sample</a>
       || 
      <a href="brand.html">Brand</a>
       || 
      <a href="website_evalautions.html">Bad Design Evaluation</a>
       ||
      <a href="crappy.html">Bad Design</a>
       ||
      <a href="hobby/hobby.html">Hobby (Midterm)</a>
    </nav>
  </header> 